html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
}

body{
	font-size: 16px;
}

.center{
	width:1191px;
	margin: 0 auto;
	text-align: center;
}

.page .main-container{
	font-family: $ProximaNova;
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 2
}

.col-wrapper{
	@include center(1191px);
}
.col-main{
	@include col(75%,0px 0px 0px 20px);
}

.col-left{
	@include col(25%,0px 20px 0px 0px);
	padding-right: 30px;
}

.col-right{
	@include col(25%,15px);
	
}