.checkout-cart-index{
	
	.col-main{
		padding: 0px;
		width:100%;	
		float: none;
		max-width: 100%;
	}
	
	
	.page-title{
		h1{
			font-size: 1.875rem;
		}
	}
	
	.breadcrumbs{
		padding:20px 0px;
	}
	.cart-empty{
		background: white;
		padding:25px;
		text-align: center;
		margin:0px;
	}	
	
	
	.cart-left{
		@include col(100%,0px 0px 20px 0px);
		@include respond-to(desktop){
		  @include col(80%,0px 15px 20px 0px);
		}
	}

	
	.sidebar {
		@include col(100%,0px 0px 0px 0px);
		@include respond-to(desktop){
		  @include col(20%,0px 0px 0px 15px);
		  margin-top:51px;	
		}
		
			
		text-align: center;
		h3{
			font-family: $KeplerStd;
			color:  #191919;
			font-size: 1.25rem;
			font-weight: 700;
			font-style: italic;
			line-height: 1.7;
			border-top:1px solid #ccc;
			border-bottom: 1px solid #ccc;
			padding:4px 0px;
			margin:0px 0px 15px;
		}
		
		hr{
			display: block; 
			height: 1px;
			border: 0; 
			border-top: 1px solid #ccc;
			margin: 1em 0 2em; 
			padding: 0;
		}
		
		a{
			color:$green;
		}

	}
	
	.cart{
		background: white;
		margin-bottom: 35px;
		position: relative;
		
		
	}
	
	.checkout-types.top{
		display: none;
	}
	#shopping-cart-table{
		margin-top:25px;
		width: 100%;
		border:none;
		font-family: $ProximaNova;
		color:  #000000;
		font-size: 0.875rem; 
		font-weight: 400;
		line-height: 2;
		.product-cart-image{
			max-width:125px;
		}
		td{
			vertical-align: top;
			padding-top:10px;
		}
		
		.product-cart-info{
			vertical-align: top;
		}
		th{
			border-top:1px solid #ccc;
			border-bottom:1px solid #ccc;
			font-family: $TabletGothicCondensed;
			font-size: 1.125rem; 
			font-weight: 700;
			line-height: 1.367;
			text-transform: uppercase;
			text-align: left;
			background: white;
			
		}
		tfoot{
		    display: none;
		}
		.product-name{
			padding: 0px;
			margin-bottom:5px;
			line-height: 0.5;
			a{
				font-family: $ProximaNova;
				color:  #050101;
				font-size: 0.875rem;
				font-weight: 400;
			}			
		}
		
		.brand-name{
			padding: 0px;
			margin-top: 10px;
			line-height: 0;
			
			a{
				font-family: $TabletGothicCondensed;
				color:  #050101;
				font-size: 1.125rem; /* Approximation due to font substitution */
				font-weight: 700;
				text-transform: uppercase;
				padding: 0px;
				margin: 0px;
			}
		}
		
		.item-options{
			padding-top:10px;
			dt{
				font-size: 0.75rem;
				line-height: 1rem;
			}
			dd{
				font-size: 0.75rem;
				line-height: 1rem;
			}
		}
		
		.qty-wrapper{
			padding-top: 20px;
			select{
				margin-bottom: 10px;
				border:1px solid #ccc;
				padding: 5px;
				width:60px;
				height: 30px;
			}			
		}
		
		.product-cart-sku{
			display: none;
		}
		
		.btn-remove{
			color:$green;
			font-size:1rem;
			margin-top:10px;
			display: inline-block;
		}
		
		.cart-price{
			margin-top:10px;
			display:inline-block;
		}
		
		.btn-update{
			background: none;
			border:none;
			font-family: Arial;
			font-size: 0.75rem;
			display: inline-block;
			color: $green;
			text-transform: uppercase;
			text-align: left;
			padding:0px;
			margin:0px;
			
			
		}
		
		.cart-links{
			display: block;
			
			.link-wishlist{
				text-transform: uppercase;
				color:$green;
				font-size: 0.75rem;
				font-family: Arial;
			}
		}
		
		
		.cart-item-head{
			@include respond-to(tablet){
			  width:70%;
			}
		}
		
		.product-cart-actions,.cart-qty-head{
			display: none;
			
			@include respond-to(tablet){
			  display:table-cell;
			  padding: 0px;
			}
		}
		.product-cart-price,.cart-price-head{
			display: none;
			@include respond-to(tablet){
			  display:table-cell;
			   vertical-align: top;
			    padding-top:10px;
			}
		}
		.product-cart-total,.cart-total-head{
			display: none;
			@include respond-to(tablet){
			  display:table-cell;
			   vertical-align: top;
			   padding-top:10px;
			}
		}
	}
	
	
	.cart-forms{
		width: 100%;
		float:left;
		text-align: right;
		padding:30px 0px;
		border-top:1px solid #ccc;
		border-bottom:1px solid #ccc;
		margin-bottom:25px;
		
		@include respond-to(tablet){
		}
		
		.shipping{
			display: none;
		}
		
		
		.discount{
			h2{
				display: none;
			}
			.field-wrapper{
				position: relative;
				width: 100%;
				
				@include respond-to(tablet){
				  width:283px;
				  float:right;
				}
			}
			
			label{
				display: none;
			}
			
			.input-text{
				width:100%;
				padding-right:70px;
				position: relative;
				top:0px;	
				height: 30px;
				padding : 0px 5px;
			}
			
			::-webkit-input-placeholder{
				color:  #ccc;
				padding: 0px;
				line-height: 1;
			}
			
			.product-cart-total{
				text-align: right;
			}
			
			
			
			.button-wrapper{
				
				.button2{
					height: 30px;
					padding: 0px 20px;
					position: absolute;
					top:44px;
					right:0px;
					font-family: $TabletGothicCondensed;
					color:  #ffffff;
					font-size: 0.875rem; 
					font-weight: 600;
					line-height: 1.714;
					letter-spacing: 0.16rem;
					text-transform: uppercase;
					width: 97px;
					background: black;
					@include ribbon(black,2.1em,white,right);
					
					@include respond-to(tablet){
					  top:0px;
					}
				}
				
				
				.button2:hover{
					background: lighten(#222,10%);
					@include ribbon(lighten(#222,10%),2.1em,white,right);
				}

				
				
			}
		}
		
		.aw_giftcard{
			position: relative;
			width: 100%;
			border: none;
			float: left;			
			@include respond-to(tablet){
			  width:60%;
			  float:left;
			}
			
			@include respond-to(desktop){
			  width:50%;
			}
			
		}	
		#aw_giftcard-form{
			
			
			fieldset{
				border: none;
				padding: 0px;
				margin: 0px;
			}
			
			.input-text{
				width: 45%;
				position: relative;
				top:0px;	
				height: 37px;
				float: left;
				outline: none;
				border-color: #ccc;
				padding: 9px 15px;
				overflow: none;
				border: 1px solid #ccc;
				margin-bottom: 11px;
				font-family: Arial;
				font-size: 0.75rem;
				color: #202021;
				
				@include respond-to(tablet){
				  width:45%;
				}
			}
			
			.buttons-set{
				
				.button{
					background: $green;
					color:white;
					text-transform: uppercase;
					font-family: $TabletGothicCondensed;
					font-size: 1.125rem;
					font-weight: 600;
					line-height: 0.889;
					border: none;
					position: relative;
					float:left;
					font-size: 0.75rem;
					padding:8px 10px;
					height: 37px
				}
				
				.button:hover{
			background: lighten($green,10%);
			@include ribbon(lighten($green,10%), 2.667em, white, left-right);
		}

				
			}
		}
		
		
	}
	
	.cart-totals-wrapper{
		text-align: left;
		width:100%;
		float: right;
		
		@include respond-to(tablet){
			width:284px;
		}
		
		.cart-totals{
			text-align: right;
		}
		
	}
	
	.cart:after{
		
	}
	
	.method-checkout-cart-methods-multishipping{
		display: none;
	}
	
	.checkout-types{
		margin: 0px;
		padding:0px;
		li{
			list-style: none;
		}
	}
	
	#shopping-cart-totals-table{
		text-transform: uppercase;
		font-family: Arial;
		font-size: 0.75rem;
		border:none;
		width:100%;
		margin-bottom: 20px;
		font-family: $ProximaNova;
		color:  #000000;
		font-size: 0.65rem; 
		font-weight: 400;
		line-height: 1.5; 
		
		td{
			background: white;
			padding:2px 0px;
			font-family: $ProximaNova;
			color:  #000000;
			font-size: 0.75rem; 
			font-weight: 400;
			
			strong{
				font-size: 1.125rem; 
			}
		}
		
		
		.a-right{
			text-align: right;
		}
		
		.a-left{
			text-align: left;
		}
		
		tr{
			td:first-child{
				text-align: left;
			}
		}
		
		.grand-total{
			font-size: 1rem;
			font-weight: normal;
		}
	}
	
	.btn-proceed-checkout{
		background: $green;
		border: none;
		text-transform: uppercase;
		font-family: $TabletGothicCondensed;
		font-size: 1.125rem;			
		font-weight: 600;
		line-height: 0.889;
		color:white;
		width:100%;
		height: 47px;
		padding:10px 0px;
		float: left;
	}
	
	.btn-continue{
		background: black;
		color:white;
		text-transform: uppercase;
		font-family: $TabletGothicCondensed;
		font-size: 0.875rem; 
		font-weight: 600;
		line-height: 1; 
		height:45px;
		width: 197px;
		position: relative;
		border: none;
		
		
	}
	
	.btn-wishlist{
		@include respond-to(tablet){
		  left:205px;
		}
	}
	
	
	
	
	
	.crosssell{
		clear:both;
		
		@include respond-to(tablet){
		  padding:0px 10px;
		}
		
		@include respond-to(desktop){
		  padding: 0px 15px;
		}
		
		.crosssell{
			padding:0px;
		}
		
		.slick-prev{
			position: absolute;
			top:50%;
			left:0px;
			margin-top:-30px;
			background: url(../images/prev-arrow-slider.png) no-repeat;	
			width: 15px;
			height: 29px;
			text-indent: -9999px;
			cursor: pointer;
			display: inline-block;
		}
		.slick-next{
			position: absolute;
			top:50%;
			right:0px;	
			margin-top:-30px;
			background: url(../images/next-arrow-slider.png) no-repeat;
			width: 15px;
			height: 29px;
			text-indent: -9999px;
			cursor: pointer;
			display: inline-block;
		}
		
		#crosssell-products-list{
			padding:0px 30px;
			margin-bottom:30px;
		}
		
		
		ul{
			margin: 0px;
		}
		
		h2{
			border-top:1px solid #ccc;
			width:100%;
			text-align: center;
			text-transform: uppercase;
			font-family: $TabletGothicCondensed;
			letter-spacing: 0.16rem;
			font-size: 0.75rem; 
            font-weight: 300;
            line-height: 1.5; 
            padding: 15px 0px;
            margin: 0px;
		}
		
		.item{
			padding:0px 3px;
			width:20%;
			.product-content{
				height:314px;
			}
			
			.brand-name{
				font-family: $ProximaNova;
				font-size: 0.75rem;
				font-weight: 400;
				line-height: 1.5
			}
			
			.product-name{
				font-size: 0.75rem; 
				font-weight: 300;
				line-height: 1.5;
			}
			
			.price-box{
				padding-bottom:25px;
			}
		}
	}
	
	.card-types{
		text-align: center;
		float:left;
		text-transform: uppercase;
		font-family: $ProximaNova;
		font-size: 0.75rem; 
	    font-weight: 400;
		line-height: 1.5; 
		margin-bottom:20px;
		padding:0px 0px;
		width: 100%;
		p{
			margin: 0px;
		}
		img{
			margin-left:10px;
		}
		@include respond-to(tablet){
		  text-align: left;
		  width: 40%;
		  margin-bottom:0px;
		}
	}
}