.checkout-onepage-index{

	.label[for="p_method_sagepaydirectpro"]{
		background-position-y: 5px
	}
	.main-container{
		margin-top: 20px;
	}
	
	
	.col-main{
		width:100%;
		float:left;
		
		@include respond-to(tablet){
		   padding:0px 10px;
		}
		@include respond-to(desktop){
		  padding:0px 15px;
		  width: 75%;
		}
		
		
		
		
	}
	
	select{
		border:1px solid #ccc;
		margin-bottom: 5px;
		padding: 5px 10px;;
	}
	
	
	.col-right{
		display: none;
		width:25%;
		float:left;
		padding:0px 15px;
		
		@include respond-to(desktop){
		  display: block;
		}
		
		#checkout-progress-wrapper{
			padding-top: 50px;
			.block-progress{
				.block-title{
					font-family: $KeplerStd;
					color:  #191919;
					font-size: 1.25rem;
					font-weight: 700;
					font-style: italic;
					line-height: 1.7;
					border-bottom: 1px solid #ccc;
					border-top: 1px solid #ccc;
					text-align: center;
					padding:7px 0px;
				}
				
				.block-content{
					padding:10px;
					text-align: center;
					dt{
						color:$green;
						text-transform: uppercase;
						font-family: $ProximaNova;
						font-size: 0.813rem; /* Approximation due to font substitution */
						font-weight: 400;
						line-height: 1.846;
					}
				}
				
				address,dd.complete{
					font-size: 0.75rem;
				}
				
				dd{
					strong{
						font-weight: normal
					}
				}
				
			}
		}
		
		.order-sumary{
			background: white;
			font-size: 0.75rem;
			margin-bottom: 25px;
			
			h2{
				font-family: $KeplerStd;
				color:  #191919;
				font-size: 1.25rem;
				font-weight: 700;
				font-style: italic;
				line-height: 1.7;
				border-bottom: 1px solid #ccc;
				border-top: 1px solid #ccc;
				text-align: center;
				padding:7px 0px;
				text-transform: none;
			}
			
			
			
					
			.cart-contents:after{
				clear:both;
				content:"";
				display: block;
			}	
			.cart-contents{
				padding:15px;
				
				
				ul{
					list-style: none;
					margin: 0;
					padding: 0;
					li{
						font-size: 0.69rem;
						
						.brand-name{
							font-family: $TabletGothicCondensed;
							color:  #050101;
							font-size: 1.125rem; /* Approximation due to font substitution */
							font-weight: 700;							
							line-height: 1;
						}
						.product-image{
							float:left;
							padding-right:10px;
							width:30%;
						}
						.product-details{
							float:right;
							width:70%;
							padding-bottom:10px;
							line-height: 1;
						}
						.product-name{
							a{
								font-family: $ProximaNova;
								color:  #050101;
								font-size: 0.875rem; /* Approximation due to font substitution */
								font-weight: 400;
								line-height: 1;

						    }
							line-height: 1;
							margin-bottom:0px;
						}
						
						.price{
							font-family: $ProximaNova;
							color:  #050101;
							font-size: 0.875rem; /* Approximation due to font substitution */
							font-weight: 400;
							line-height: 1.714;
						}
						
						
						.btn-remove,.btn-edit{
							display: none;
						}
						
						.price{
							
						}
					}
				}
			}
			
			.total{
				padding:10px 15px 15px;
				clear: both;
				border-top:1px solid #ccc;
				.label{
					text-align: left;
					text-transform: uppercase;
					font-family: $ProximaNova;
					font-size: 0.813rem; /* Approximation due to font substitution */	
					font-weight: 400;
					line-height: 1.385; 
				}
				.price{
					text-align: right;
					text-align: right;
					font-weight: bold;
					display: inline-block;
					float:right;
					font-family: $ProximaNova;
					font-size: 0.813rem; /* Approximation due to font substitution */
					font-weight: 400;
					line-height: 1.385; 
				}
			}
		}
	}
	
	#checkoutSteps{
		list-style: none;
		margin: 0px 0px 30px 0px;
		padding: 0px;
		
		.sp-methods{
			dt{
				padding-bottom:10px;
				font-family: $ProximaNova;
				font-weight: normal;
				text-transform: uppercase;
				font-size: 1.185rem;
				
				label{
					font-size: 0.85rem;
					text-transform: none;
				}
			}
			
			input[type=checbox],input[type=radio]{
					width:20px;
					margin-top:4px;
					float:left;
				}
		}
		
		input[type=text],input[type=password],input[type=email],input[type=tel]{
			width: 297px;
		}
		
		
		.required-indicator{
			color:$green;
		}
		
		li{
			margin: 0px;
			padding: 0px;
		}
		
		.step-title{
			padding:5px 0px;
			border-top:1px solid #ccc;
			font-size: 0.63rem;
			font-family: $TabletGothicCondensed;
			margin:0px;
			height:49px;
			font-weight: 300;
		}
		
		.step{
			padding:20px;
			
			ul{
				list-style: none;
				margin: 0px;
				padding:0px;
				li{
					margin: 0px;
					padding:0px;
				}
				
				.control{
					margin-bottom: 8px;
				}
			}
			
			.form-list{
				width:100%;
				
				@include respond-to(tablet){
				  width:80%;
				}
				
				@include respond-to(desktop){
				  width:80%;
				}
				
				input,select{
					width:100%;
				}
				
				input[type=checbox],input[type=radio]{
					width:20px;
					margin-top:4px;
					float:left
				}
			}
		}
		
		.step:after{
			clear:both;
				content:"";
				display: block;
		}
		
		.remember-me-popup{
			display: none;
		}
		
		.active{
			display: block;
			
			.step-title{
				text-transform: uppercase;
				margin:0px;
				border-bottom: 1px solid #ccc;
			}
		}
		
		
		#opc-review{
			.step-title{
				text-transform: uppercase;
				margin:0px;
				border-bottom: 1px solid #ccc;
			}
		}
		
		
		h2{
			font-family: $TabletGothicCondensed;
			color:  #000000;
			font-size: 1.125rem; /* Approximation due to font substitution */
			font-weight: 700;
			line-height: 1.667; 
			text-transform: uppercase;
			display: inline-block;
		}
		
		h3{
			font-family: $TabletGothicCondensed;
			font-size: 1.125rem; /* Approximation due to font substitution */
			font-weight: 700;
			line-height: 2.667; 
			text-transform: uppercase;
		}
		
		p{
			font-size: 0.75rem;
		}
		.number{
			font-family: $TabletGothicCondensed;
			color:  #000000;
			font-size: 1.125rem; /* Approximation due to font substitution */
			font-weight: 700;
			line-height: 1.667; 
			text-transform: uppercase;
			display: inline;
		}
		
		
		
		a{
			display: none;
		}
		.forgotten-link{
			display: inline-block;
			color:$green;
			font-size: 0.6rem;
			font-family: Arial;
		}
		.col-1{
			
			float:left;
			margin-bottom:20px;
			@include respond-to(tablet){
			  width: 50%;
			}
			
			.description{
				display: none;
			}
		}

		.col-2{
			float:left;
			margin-bottom:20px;
			@include respond-to(tablet){
			  width: 50%;
			}
			.description{
				display: none;
			}
		}
		
		.form-list{
			margin-bottom: 20px;
		}
		
		p.required{
			display: none;
		}
		
		.buttons-set{
			clear:both;
			padding-top:10px;
		}
		
		.button{
			clear:both;
			background: $green;
			color:white;
			padding:10px 20px;
			text-transform: uppercase;
			font-family: $TabletGothicCondensed;
			font-size: 1.125rem; /* Approximation due to font substitution */
			font-weight: 600;
			line-height: 1; 
			height: 47px;
			width:125px;
			border: none;
			margin-right:10px;
		}
		
		
	}
	
	#checkout-step-shipping_method{
		dd{
			margin: 0px;
			padding:0px;
			ul{
				padding:0px;
				margin: 0px;
				li{
					
				}
			}
		}
	}
	
	table tr.even, table tr.alt, table tr:nth-of-type(even){background: none}
	#checkout-totals{
		border: none;
		th{
			background: none;
			
		}
		thead,tfoot{
			background: none;
		}
	}
	#checkout-review-table{
		width:100%;
		text-align: left;
		border: none;
		
		.price-col,.last{
			text-align: right;
		}
		
		th{
			background: none;
			
		}
		thead,tfoot{
			background: none;
		}
		
		.image-col{
			width:50px;
		}
		.name-col{
			width:220px;
		}
		.qty-col{
			width:20px;
		}
		.price-col{
			width:40px;
		}
		
		a{
			display: inline;
		}
		th{
			border-top:1px solid #ccc;
			border-bottom:1px solid #ccc;
			padding:16px 0px;
			font-family: $TabletGothicCondensed;
			font-weight: 200;
			text-transform: uppercase;
			font-size: 1.163rem;
			text-align: left;
		}
		
		td{
			font-family: Arial;
			font-size: 0.75rem;
			font-weight: 400;
			line-height: 2.5;
			width: 37px;
			height: 9px;
			border-bottom: 1px dotted #ccc;
			text-align: left;
		}
		
		.item-options{
			font-size: 0.65rem;
			font-family: $ProximaNova;
			font-weight: 300;
		}
		
		tfoot{
			tr{
				border:none;
			}	
		}
		.brand-name{
			font-family: $TabletGothicCondensed;
			font-size: 1.175rem;
			font-weight: 700;
			line-height: 2.5;
			line-height: 0;
			padding: 0px;
			margin-top: 10px;
		}
		.product-name{
			font-family: $ProximaNova;
			font-size: 0.85rem; 
			font-weight: 300;
			line-height: 2; 
		}
		
		
	}
	
	#checkout-review-submit{
		float:right;
		
		@include respond-to(tablet){
		  width:55%;
		}
	}
	

	
	#review-buttons-container{
			.btn-checkout{
				background-color:  $green;
				width: 247px;;
				height: 47px;	
				float:right;
				margin-left:20px;
				font-family: $TabletGothicCondensed;
				font-size: 1.125rem; 
				font-weight: 600;
				line-height: 0.889;
				margin-left: 0px;
				margin-right: 0px;
			}
			
			a{
				color:$green;
				display: inline-block;
				line-height: 4em;
				
			}
			.f-left{
				float:left;
			}
		}
		
		#checkout-totals{
			width: 247px;
			float: right;
			
			.a-right{
				text-align: right;
			}
			
			.a-left{
				text-align: left;
			}
			
			tr{
				td:first-child{
					text-align: left;
				}
			}
			
			tr:last-child{
				td{
					font-size: 1rem;
				}
			}
			td{
				font-family: $ProximaNova;
				font-size: 0.75rem;
				font-weight: 400;
				line-height: 1.5;
				text-transform: uppercase;
				padding: 0px;
			}
			
			.grand-total{
				td{
					font-size: 1rem;
				}
			}
		}
}

.checkout-onepage-success,.checkout_onepage_failure{
	.breadcrumbs{
		margin-bottom: 20px;
		
	}
	.button{
		background: $green;
		color:white;
		padding:10px 20px;
		text-transform: uppercase;
		font-size: 0.75rem;
		height: 47px;
		width:225px;
		border: none;
		margin-right:10px;
	}
	
		
	.col-left{
		display:none;
		
		@include respond-to(tablet){
		  width:30%;
		  float: left;
		  padding:0px 10px;
		  display: block;
		}
		
		@include respond-to(desktop){
		  padding:0px 15px;
		}
		
		
		h4{
			border-top:3px solid black;
			border-bottom:1px solid black;
			text-transform: uppercase;
			font-family:$TabletGothicCondensed;
			font-size: 0.75rem;
			letter-spacing: 0.16rem;
			padding:15px 0px;
			margin: 0px 0px 20px;
			
			
		}
		
		ul{
			padding:0px;
			margin: 0px;
			list-style: none;
			font-size: 0.75rem;
			margin-bottom: 20px;
			
		}
		
		a{
			font-size: 0.75rem;
            font-weight: 400;
            line-height: 1.667rem;
			text-transform: uppercase;
		}
		
		a:hover{
			color:$green;
			
		}
	}
	
	.main-container{
		margin-top: 20px;
		@include respond-to(tablet){
		  padding:0px 10px;
		}
		
		@include respond-to(desktop){
		  padding:0px 15px;
		}
	}
	.col-main{
		width:100%;
		font-size: 0.75rem;
		font-family: Arial;
		background: white;
		text-align: center;
		padding:40px;
		
		
		.content{
			background: white;
			padding:25px;
			margin-bottom: 40px;
		}
		
		.page-title{
			h1{
				text-transform: uppercase;
				font-family: $TabletGothicCondensed,sans-serif;
				font-size: 1.38rem;
				font-weight: 700;
				padding: 0px;
			}
		}
		
		.sub-title{
			font-size: 1rem;
			font-family: Arial ;
		}
		
		
	}
	
	
}