.title-intro{
	
}

.cms-page-view{
   .breadcrumbs{
		padding:20px 15px;
	}

	.page-title{
		display: none;
	}
	
	h1{
	font-family: $TabletGothicCondensed;
	color:  #000000;
	font-size: 2.25rem; 
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	margin-bottom: 30px;
	margin-top: -26px;
	
	span{
		font-family: $KeplerStd;
		font-size: 1.125rem;
		font-weight: 400;
		font-style: italic;
		line-height: 0;
		text-align: center;
		text-transform: none;
		display: inline-block;
		
	}
}
}
.cms-text{
	h2{
		padding-bottom: 0px;
		margin-bottom: 0px;
	}
}
.cms-list{
	font-family: $ProximaNova;
	color:  #000000;
	font-size: 0.875rem; /* Approximation due to font substitution */
	font-weight: 400;
	line-height: 1.714; /* Approximation due to font substitution */
	text-align: left;
	p{
		padding-bottom: 25px;
	}
	strong{
		text-transform: uppercase;
		font-family: $TabletGothicCondensed;
		font-size: 1.5rem; /* Approximation due to font substitution */
		font-weight: 700;
		line-height: 1.5; /* Approximation due to font substitution */
		text-align: left;
	}
	
	h2{
		padding-bottom: 0px;
	}
}

.cms-header{
	text-align: center;
	margin-bottom:180px;
	@include respond-to(tablet){
	  width:100%;
	  margin: 0 auto 40px;
	}
	
	@include respond-to(desktop){
	  width: 80%;
	}
	
	p{
		font-family: $ProximaNova;
		font-size: 0.875rem; /* Approximation due to font substitution */
		font-weight: 400;
		line-height: 1.714; /* Approximation due to font substitution */
		text-align: center;
	}
	.third {
		border-right: none;
		@include respond-to(tablet){
			border-right: 1px solid black;
			min-height: 140px;
		}
		@include respond-to(desktop){
	  		min-height: 115px;
		}
	}
	.last {
		border-right: none;
	}
	
	
	
}

.cms-gallery{
	height:544px;
	overflow: hidden;
	position: relative;
	padding:0px 30px;
	margin-bottom: 80px;
	
	img{
		margin:0px 2px;
	}
	
	.slick-prev{
		background: url(../images/prev.png) no-repeat top left;
		position:absolute;
		top:50%;
		left:0px;
		width:11px;
		height:19px;
		margin-top:-6px;
		text-indent: -9999px;
	}
	
	.slick-next{
		background: url(../images/next.png) no-repeat top left;
		position:absolute;
		top:50%;
		right:0px;
		width:11px;
		height:19px;
		margin-top:-6px;
		text-indent: -9999px;
	}

}


.category-food-hall{
	.category-title{
		display: none;
	}
	
	.tour{
		margin-bottom: 40px;
	}
	
	h1{
	font-family: $TabletGothicCondensed;
	color:  #000000;
	font-size: 2.25rem; 
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	margin-bottom: 30px;
	margin-top: -26px;
	
	span{
		font-family: $KeplerStd;
		font-size: 1.125rem;
		font-weight: 400;
		font-style: italic;
		line-height: 0;
		text-align: center;
		text-transform: none;
		display: inline-block;
		
	}
}
}

.cms-contact-us, .contacts-index-index{
	h1 {line-height: 1em;}
	#contactForm {
		.form-list{
			padding: 0px;
			margin: 0px;
			list-style: none;
			text-align: left;
		}
		
		label{
			font-family: $ProximaNova;
			color:  #949494;
			font-size: 0.875rem; /* Approximation due to font substitution */
			font-weight: 400;
			line-height: 1.714; /* Approximation due to font substitution */
			text-align: center
		}
		
		.button{
			margin-top: 25px;
			color:white;
			background: $green;
			display: block;
			text-align: center;
			font-family: $TabletGothicCondensed;
			font-size: 1.06rem;
			font-weight: 300;
			letter-spacing: 0.16rem;
			text-transform: uppercase;
			width:260px;
			float:left;
			height: 46px;
			display:inline-block;
			@include ribbon($green,2.667em, white, left-right);
			line-height: 0.8em;
		}
		
		.button:hover{
			background: lighten($green,10%);
			@include ribbon(lighten($green,10%), 2.667em, white, left-right);
			line-height: 0.8em;
		}

		
		textarea{
			width:100%;
			box-sizing: border-box;
			padding:10px;
			border: 1px solid #ccc;
			height:170px;
		}
	}
}

.iframe-rwd  {
position: relative;
padding-bottom: 65.25%;
padding-top: 30px;
}
.iframe-rwd iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}