.footer{
	clear: both;
	@include center(1191px);
	
	.block-subscribe{
		position: relative;
		width:100%;
		border-top:1px solid #ccc;
		border-bottom:1px solid #ccc;
		padding:20px 0px;
		margin-bottom: 20px;
		
		@include respond-to(tablet){
		  margin-bottom: 0px;
		}
		
		@include respond-to(desktop){
		  margin-bottom: 20px;
		}
		
		.block-title{
			display: none;
		}
		
		.block-content{
			position: relative;
			float:right;
			width:100%;
			padding: 0px 0px;
			text-align: center;
			margin-bottom:10px;
			@include respond-to(desktop){
			  text-align: right;
			  width:747px;
			}
			
			.input-box{
				clear:both;
				@include respond-to(tablet){
				  clear:none;
				}
			
			}
			label{
				text-align: center;
				line-height: 2em;
				font-family: $TabletGothicCondensed;
				font-size: 1rem; 
				font-weight: 700;
				line-height: 2;
				padding-bottom: 10px;
				text-transform: uppercase;
				
				@include respond-to(tablet){
				  float:left;
				  text-align: left;
				  padding-right:20px;
				  line-height: 2.5;
				  padding-bottom: 0px;
				}
			}
			input{
				background-color:  #ffffff;
				width: 100%;
				height: 30px;
				margin-bottom: 0px;
				padding:0px 10px;
			
				@include respond-to(tablet){
				  width: 248px;
				  float:left;
				}
				
				@include respond-to(desktop){
				  width: 248px;
				  float:left;
				}
			}
			button{
				height: 30px;
				padding: 0px 20px;
				position: absolute;
				bottom:-21px;
				right:0px;
				font-family: $TabletGothicCondensed;
				font-size: 0.875rem; /* Approximation due to font substitution */
				font-weight: 600;
				line-height: 1.714; 
				text-transform: uppercase;
				width: 117px;
				background: $green;
				@include ribbon($green,2.2em,white,right);
				
				@include respond-to(tablet){
				  bottom:-17px;
				}
				
			}
			
			
			
			.form-subscribe-header{
				margin-bottom: 7px;
			}
			
		

		}
	}
	
	.block-subscribe:after{
		clear:both;
		content:"";
		display: block;
	}
	
	.social{
		border-bottom: 1px solid #ccc;
		padding:0px 0px 20px 0px;
		@include respond-to(tablet){
		  padding:0px;
		}
		
		@include respond-to(desktop){
		  padding:0px 0px 20px 0px;
		}
		
		@include respond-to(tablet){
		  padding:20px 0px;
		}
		.facebook{
				li{
					height:85px;
					margin-bottom:40px;
					
				}
				
				.post_picture{
					float:right; 
					width:30%;
				}
				.post_data{
					float: left;
					width: 100%;
					
					a.p{
						margin: 0px;
						padding:0px;
					}
				}
			}
		.instagram,.twitter,.facebook{
			text-align: center;
			
			
			
			@include col(33.3%,5px);
			
			@include respond-to(tablet){
				@include col(100%,0px);
				text-align: left;
				border-bottom: 1px solid #ccc;
				padding:20px 0px;
			}	
			@include respond-to(desktop){
				@include col(33.3%,0px);
				text-align: center;
				border-bottom: none;
			}
			
			.slick-list{
				margin-bottom: 15px;
			}
			
			.content{
				background: #f0f2f5;
				width: 100%;
				padding:10px 0px;
				height:60px;
				@include respond-to(tablet){
				  background: none;
				  height:auto;
				}
			}	
			
			ul{
				list-style: none;
				@include respond-to(tablet){
				  float:left;
				  width: 65%;
				  padding-bottom: 10px;
				}
				
				@include respond-to(desktop){
				  width: 100%;
				  padding-bottom: 10px;
				}
				
				li{
					padding:0px 10px;
					overflow: hidden;
				}
				
				.slick-prev{
					background: url(../images/prev.png) no-repeat top left;
					width:11px;
					height:19px;
					position: absolute;
					top: 95%;
					right:40px;
					padding:0px 10px;
					margin-top:-6px;
					text-indent: -9999px;
					margin-bottom: 10px;
				}
				
				.slick-next{
					background: url(../images/next.png) no-repeat top left;
					height:19px;
					position: absolute;
					right:0px;
					top: 95%;
					margin-top:-6px;
					text-indent: -9999px;
					margin-bottom: 10px;
				}
			}
			
			
		}
		
		.facebook{
			@include respond-to(tablet){
				border-bottom: none;
			}	
			
		}
		
		header{
			text-align: center;
			width: 100%;
			background: none;
			@include respond-to(tablet){
			  float:left;
			  padding-right:40px;
			  width:200px;;
			 
			}
			
			@include respond-to(desktop){
			  width: 100%;
			  padding-right:0px;
			  float:none;
			}
		}
		
		icon{
			font-size: 25px;
		}
		
		ul{
			padding:0;
			margin: 0;
		}
		
		.instagram{
		   
			ul{
				list-style: none;
				
				@include respond-to(tablet){
				  float:left;
				}
				li{
					@include col(33.3%,5px);
				}
			}
		}
		
				
		
		.twitter{
		  ul{
			  @include respond-to(tablet){
				  float:left;
				}
		  }
			li{
			    list-style: none;
				font-family: $ProximaNova;
				font-size: 0.875rem; /* Approximation due to font substitution */
				font-weight: 400;
				line-height: 1.714;
			}
		}
		
		a{
			font-family: $ProximaNova;
			color:  $green;
			font-size: 0.875rem; 
			font-weight: 400;
			line-height: 1.714; 
			margin-bottom: 20px;
			display: inline-block;
		}
		
		.nomobile{
			display: none;
			@include respond-to(tablet){
			  display: block;
			}
		}

	}
	
	.social:after{
		clear:both;
		content:"";
		display: block;
	}
	
	.footer_links{
		padding: 20px 0px;
		@include respond-to(tablet){
			@include col(35%,0px);
			float:right;
		}
		@include respond-to(desktop){
		  @include col(50%,0px);
		  float: left;
		}
		p{
			padding:0px;
			margin:0px;
		}
		
		
		ul:first-child{
			display: none;
			@include respond-to(desktop){
			  display: block;
			}
		}
		
		ul{
			list-style: none;
			margin:0px;
			padding:0px;
			text-align: center;
			
			@include respond-to(tablet){
				@include col(50%,0px);
				text-align: left;
			}
			
			@include respond-to(desktop){
			  @include col(33.3%,0px);
			}
			li{
				margin:0px;
				padding:2px 0px;
				border-bottom: 1px dotted #ccc;
				
				@include respond-to(tablet){
				  border-bottom: none;
				}
			}
			
			
		}
		
		ul:last-child{
			li:last-child{
			    border-bottom: none;
			}
		}
		a{
			font-family: $ProximaNova;
			color:  $green;
			font-size: 0.75rem; 
			font-weight: 400;
			line-height: 2.5;
			text-transform: uppercase;
		}
	}
	
	.footer_contact{
		padding: 20px 0px;
		text-align: center;
		@include respond-to(tablet){
			@include col(50%,0px);
			text-align: left;
		}
		
		

	}
	
	.footer_main{
		clear: both;
		border-bottom: 1px dotted #ccc;
		padding: 30px 0px 25px;
	}
	
	.footer_main:after{
		clear: both;
		content: "";
		display: block;
	}
	
	.copyright{
		font-family: $ProximaNova;
		font-size: 0.875rem; /* Approximation due to font substitution */
		font-weight: 400;
		padding: 20px 0px;
		text-align: center;
		
		@include respond-to(tablet){
		  text-align: left;
		  float:left;
		}
	}
	
	.cards{
		text-align: center;
		padding-bottom: 20px;
		padding-top: 15px;
		@include respond-to(tablet){
		  float:right;
		  
		}
		
	}
	.cards:after{
		clear:both;
		display: block;
		content:"";
	}
}