input,textarea,button{
	outline:none;
}

input[type=text],input[type=password],input[type=email],input[type=tel]{
	height: 34px;
	padding:8px 5px;
	border: 1px solid #ccc;
	margin-bottom: 5px;
	width: 100%;
}

label{
	display: inline-block;
	em{
		float:right;
	}
}

.button-set{
	button,.button,.btn{
		font-family: $TabletGothicCondensed;
		font-size: 1.125rem; 
		font-weight: 600;
		line-height: 0.889;
	}
}

.control{
	clear:both;
	.input-box{
		float:left;
		width: 40px;
		padding-top:5px;
		float:left;
		input[type=checkbox]{
			width:30px; 
			float:left;
			line-height: 2;
		
		}
		input[type=radio]{
			width:30px; 
			float:left;
			line-height: 2;
		
		}

	}
	
	label{
		margin-left: 10px;
		float:left;
	}
}


::-webkit-input-placeholder {
  font-family: $ProximaNova;
  color:  #949494;
  font-size: 0.875rem; /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 1.5;
}

:-moz-placeholder { /* Firefox 18- */
    font-family: $ProximaNova;
  color:  #949494;
  font-size: 0.875rem; /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 1.5;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-family: $ProximaNova;
  color:  #949494;
  font-size: 0.875rem; /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 1.5;
}

:-ms-input-placeholder {  
   font-family: $ProximaNova;
  color:  #949494;
  font-size: 0.875rem; /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 1.5;
}


select{
	background: url(../images/dropdown-arrow.png) no-repeat right 5px center;
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none;
	border-style: solid;
	border-width: 0px 0px 2px;
	-moz-border-image: url(../images/select-border.png) 0 0 2 round ;
	-webkit-border-image: url(../images/select-border.png) 0 0 2 round ;
	-o-border-image: url(../images/select-border.png) 0 0 2 round ;
	border-image: url(../images/select-border.png) 0 0 2 round ;
	position: relative;
	outline:none;
	border-radius: 0px;
}

select:after{
	content: "";
	display: block;
	background: green;
	position: absolute;
	top:0px;
	width:20px;
	height:20px;
}

.label{
	background: none;
	color: black;
}