


::-webkit-input-placeholder {
  font-family: $ProximaNova;
  color:  #949494;
  font-size: 0.875rem; /* Approximation due to font substitution */
  font-weight: 400;
}

:-moz-placeholder { /* Firefox 18- */
    font-family: $ProximaNova;
  color:  #949494;
  font-size: 0.875rem; /* Approximation due to font substitution */
  font-weight: 400;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-family: $ProximaNova;
  color:  #949494;
  font-size: 0.875rem; /* Approximation due to font substitution */
  font-weight: 400;
}

:-ms-input-placeholder {  
   font-family: $ProximaNova;
  color:  #949494;
  font-size: 0.875rem; /* Approximation due to font substitution */
  font-weight: 400;
}


select{
	background: url(../images/dropdown-arrow.png) no-repeat right 5px center;
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none;
	border-style: solid;
	border-width: 0px 0px 2px;
	-moz-border-image: url(../images/select-border.png) 0 0 2 round ;
	-webkit-border-image: url(../images/select-border.png) 0 0 2 round ;
	-o-border-image: url(../images/select-border.png) 0 0 2 round ;
	border-image: url(../images/select-border.png) 0 0 2 round ;
	position: relative;
	outline:none;
	border-radius: 0px;
}

select:after{
	content: "";
	display: block;
	background: green;
	position: absolute;
	top:0px;
	width:20px;
	height:20px;
}

.label{
	background: none;
	color: black;
}