

header{
	background: $black;
	height: 84px;
	padding: 10px 0px;
	@include respond-to(tablet){
	  height: 107px;
	  padding: 15px 0px;
	}
	@include respond-to(desktop){
	  height: 125px; 
	}
	
	.header-wrapper{
		@include center(1191px);
		margin: 0 auto;
		float:none;
		padding:0px 15px;
		
		.left{
			@include col(33.3%,0px);
			padding:0px;	
			position: relative;
			float:left;	
			@include respond-to(desktop){
			  display: none
			}
			
			.menu{
				position: relative;
				top:10px;
				color: white;
				font-size: 28px;
				font-weight: 200;
				margin-right: 5px;
				margin-left:5px;
			}
			.search{
				position: relative;
				top:10px;
				color: white;
				font-size: 24px;
				font-weight: 200;
				display: inline-block;
				padding:0px 10px 0px 10px;
			}
			
			.search.active{
				background: $green;
			}
		}
		
		
		.right{
			@include col(33.3%,0px);
			max-width: 499px;
			@include respond-to(desktop){
				@include col(80%,0px);	
				
			}
			
		}
		
		.middle{
			@include col(33.3%,0px);
			 text-align: center; 
			 
			 @include respond-to(desktop){
			    text-align: left;
			    @include col(369px,0px);
			 }
		}
		
		
		.logo{
		   
			.large{
				display: none;
				@include respond-to(desktop){
				  display: inline-block
				}
			}
			.tablet{
				display: none;
				@include respond-to(tablet){
				  display: inline-block;
				}
				@include respond-to(desktop){
				  display: none;
				}
			}
			.small{
				display:inline-block;
				
				@include respond-to(tablet){
				  display:none;
				}
			}
		}
		
		.top{
			border-bottom: 1px solid #656565;
			padding:0px 0px 0px 0px;
			height: 43px;
			display: none;
			@include respond-to(desktop){
			  display: block;
			}
			
		}
		
		.top:after{
			clear:both;
			content: "";
			display: block;
		}
		.links{
			
		   ul{
		        list-style: none;
				display: table;
				margin: 0px;
				padding: 0px;
				width: 100%;
				

			  li{
			  	display: table-cell;
	            text-align: center;
	
				a{
					font-family: $KeplerStd;
					color:  #e7e7e7;
					font-size: 0.88rem;
					font-weight: 200;
					font-style: italic;
					line-height: 2.686;
					
					
				}
				
				a:hover{
					color: $green;
				}
			  }
		  }
		}
		
		.links:after{
			content:"";
			clear:both;
			display: block;
		}
		
		
		#header-account{
			float:left;
			min-width: 270px;
			max-width: 285px;
			
			
		}
		
		nav#nav{
			position: relative;
			float: left;
			padding-top:15px;
			display: none;
			@include respond-to(desktop){
			  display: block;
			}
			ol{
				list-style: none;
				margin: 0px;
				padding: 0px;
                width: 100%;
                display: block;
				li{
					//display: inline-block;
					float: left;
					display: block;
                    text-align: center;
                    position: relative;
					a{
						margin-right: 26px;
						padding-bottom:15px;
						display: block;
						font-family: $ProximaNova helvetica;
						color:  #ffffff;
						font-size: 0.81rem; 
						font-weight: 400;
						line-height: 2.286;
						text-transform: uppercase;
						text-align: center;
					}
					
					a:hover{
						color:$green;
					}
					
					.has-children:hover{
						background: url(../images/menu-arrow.png) no-repeat center bottom;

					}
					
					
					
					ul{
						display: none;
						position: absolute;
						background-color: rgba(0, 0, 0, 0.9);
						width: 239px;
						position: absolute;
						left:-15px;
						z-index: 10;
						text-align: left;
						padding: 20px;
						margin-left: 0px;
						li{
							display: block;
							float:none;
							text-align: left;
							
							a{
								font-family: $ProximaNova;
								font-size: 0.813rem;
								font-weight: 400;
								line-height: 2.769; 
								display: inline;
							}
						}
					}
					&.home {
						@include respond-to(desktop){
							display: none;
						}
					}
					&.about-us-mobile {
						@include respond-to(desktop){
							display: none;
						}
					}
				}
				
				li:last-child a{
						padding-right: 0px;
				}
				
			}
			.close {
					@include respond-to(desktop){
						display: none;
					}
				}
			.customer-service-mobile {
				@include respond-to(desktop){
					display: none;
				}
			}
		}
	}
	
	#header-cart{
		display: none;
	}
	
	.header-minicart{
		float: left;
		width:91px;
		padding:0px 0px 0px 10px;
		a{
			font-family: 'Kepler Std';
			color:  #e7e7e7;
			font-size: 0.88rem;
			font-weight: 200;
			font-style: italic;
			line-height: 1.986;
			
		}
		
		.brand-name{
			font-weight: 700;
			font-family: $TabletGothicCondensed;
			font-size: 0.85rem;	
		}
		
		.label{
			background: none;
			font-family: 'Kepler Std';
			color:  #e7e7e7;
			font-size: 0.88rem;
			font-weight: 200;
			font-style: italic;
		}
	}
	#header-search{
		.input-box{
			position: relative;
			top:-5px;
			
		}
		label{
			display: none;
		}
		input{
			background: none;
			border-top:none;
			border-left:none;
			border-right:none;
			width:111px;
			border-bottom:1px dotted white;
			float:right;
			height:15px;
			margin-top:15px;
			color:white;
			outline:none;
		}
		button{
			width: 30px;
			height:30px;
			text-align: left;
			// text-indent: -9999px;
			padding: 0px;
			margin: 0px;
			background:  url(../images/search.png) no-repeat bottom center;
			position: absolute;
			right:-5px;
			top:-3px;
		}
		
		::-webkit-input-placeholder{
			color:  black;
		}
	}
	
	.mobile-items{
		position: absolute;
		top:28px;
		right:0px;
		
		@include respond-to(desktop){
		  display: none;
		}
		
		.mobile-account{
			padding-right:10px;
			display: inline-block;
		}
		.mobile-cart{
			color:white;
			background: $green;
			border-radius: 50px;
			width:30px;
			height: 30px;
			text-align: center;
			line-height: 2rem;
			margin-right:5px;
			display: inline-block;
		}
	}
}

.mobile-search{
	display: none;
	background: $green;
	padding:15px 20px;
	position: relative;
	.input-box{
		position: relative;
		
	}
	label{
		display: none;
	}
	input{
		background: white;
		border-top:none;
		border-left:none;
		border-right:none;
		width:100%;
		border-bottom:1px dotted white;
		float:left;
		color:black;
		outline:none;
		padding:5px 10px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	button{
		width: 50px;
		height:36px;
		text-align: left;
		text-indent: -9999px;
		padding: 0px;
		margin: 0px;
		background: black url(../images/search.png) no-repeat center center;
		position: absolute;
		right:15px;
		top:15px;
	}
	
	button:hover{
		background: black url(../images/search.png) no-repeat center center;
	}
	
	::-webkit-input-placeholder{
		color:  black;
		text-transform: uppercase;
	}
}

.mobile-search:after{
	clear:both;
	content: "";
	display: block;
}

#sidr-right{
	background: white;
	color:black;
	padding:10px;
	width:260px;
	border-left: 1px dotted black;
	
	.sidr-class-minicart-wrapper{
	    .sidr-class-subtotal:after{
		    clear:both;
		    content: "";
		    display: block;
	    }
	    .sidr-class-subtotal{
	    		padding: 10px 0px;
	    		margin-bottom: 10px;
	    		border-bottom:1px solid #ccc;
	    		border-top:1px solid #ccc;
				.sidr-class-price{
					float:right;
					font-size: 1rem;
					font-family: $ProximaNova;
					text-transform: uppercase;
				}
				.sidr-class-label{
					float:left;
					font-size: 1rem;
					font-family: $ProximaNova;
					text-transform: uppercase;
				}
				
			}
			.sidr-class-minicart-actions{
			
			     margin-bottom: 10px;
				.sidr-class-cart-link{
					color:white;
					background: black;
					display: block;
					text-align: center;
					font-family: $TabletGothicCondensed;
					font-size: 1.06rem;
					font-weight: 300;
					letter-spacing: 0.16rem;
					text-transform: uppercase;
					width:240px;
					float:left;
					margin-bottom: 15px;
					line-height:  2.667em;
					//@include ribbon(black, 2.667em, white, left-right);
					&:hover {
						background: lighten($black,10%);
					}
					
				}
				.sidr-class-checkout-types{
					padding: 0px;
					margin: 0px;
					
					li{
						padding: 0px;
						margin: 0px;
					}
				}
				.sidr-class-checkout-button{
					color:white;
					background: $green;
					display: block;
					text-align: center;
					font-family: $TabletGothicCondensed;
					font-size: 1.06rem;
					font-weight: 300;
					letter-spacing: 0.16rem;
					text-transform: uppercase;
					width:240px;
					float:left;
					margin-bottom: 15px;
					line-height:  2.667em;
					//@include ribbon($green, 2.667em, white, left-right);
					&:hover {
						background: lighten($green,10%);
					}
				}
			}
	    .sidr-class-block-subtitle{
		    text-align: center;
	    }
		ul{
			list-style: none;
			li:after{
				clear:both;
				display: block;
				content:"";
			}
			
			li{
				border-bottom: 1px dotted #ccc;
			    .sidr-class-product-image{
				    float: left;
			    }
				.sidr-class-product-details{
					width:170px;
					float:left;
				}
				
				.sidr-class-brand-name{
					font-weight: 700;
					font-family: $TabletGothicCondensed;
					font-size: 0.85rem;	
					line-height: 0;
					text-transform: uppercase;
				}
				.sidr-class-product-name{
				    line-height: 0.4;
				    padding-bottom: 0px;
				    margin: 0px;
					a{
						font-family: $ProximaNova;
						color:black;
						font-size: 0.75rem;
						text-transform: none;
						line-height: 16px;
						
					}
				}
				
				.sidr-class-price{
				    font-family: $ProximaNova;
					color:black;
					font-size: 0.75rem;
					text-transform: uppercase;
				}
				
				.sidr-class-item-options{
					font-size: 0.65rem;
					font-family: $ProximaNova;
					dt{
						width: 30%;
						float:left;
						padding:0px;
						margin:0px;
					}
					dd{
						width:70%;
						float:left;
						padding:0px;
						margin:0px;
					}
				}
			}
		}
		.sidr-class-close {
			float: right;
			font-size: 25px;
			padding: 5px;
			color: #000;
		}
	}
}

#sidr-id-minicart-error-message{
	background: lighten(red,20%);
	
}
.sidr-class-skip-link-close{
	display: none;
}

#sidr-id-minicart-success-message{
	//background: lighten($green,20%);
}