a{
	img:hover{
		opacity: 0.8;
	}
}


.banner{
	margin-bottom:20px;
	@include respond-to(tablet){
	  margin-bottom:60px;
	}
	div{
		height:300px;
		background-size: cover;
		background-position-x: center;
		background-position-y: center;
		
		@include respond-to(tablet){
		  height:449px;
		}
		
		@include respond-to(desktop){
		  height:536px;
		}
	}
	
	div:hover{
		opacity: 0.8;
	}
	
}
.welcome:after{
	clear:both;
	content:"";
	display: block;
}
.welcome{
	@include center(1191px);
	// @include col(100%,0px 20px);
	 margin-bottom:30px;
	 @include respond-to(tablet){
	   margin-bottom:45px;
	   padding:0px;
	 }
	.intro-image{
		margin-bottom: 20px;
		@include respond-to(tablet){
		  @include col(40%,0px 20px);
		  margin-bottom: 0px
		}
		
	}	
	
	h1{
		line-height:1.25;
	}
	
	.intro{
		@include col(100%,0px 20px);
		@include respond-to(tablet){
		  @include col(60%,23px 20px);
		}
		
		h1{
			margin-bottom: 12px;
			margin-top: 15px;
		}
		
		.black-fancy-btn{
			color:white;
			background: black;
			display: block;
			text-align: center;
			
			font-family: $TabletGothicCondensed;
			font-size: 1.06rem;
			font-weight: 300;
			letter-spacing: 0.16rem;
			text-transform: uppercase;
			width:260px;
			margin-right:20px;
			float:left;
			margin-bottom: 15px;
			@include ribbon(black, 2.667em, white, left-right);
			
		}
		
		.black-fancy-btn:hover{
			background: lighten(#222,10%);
			@include ribbon(lighten(#222,10%), 2.667em, white, left-right);
		}
		
		.green-fancy-btn{
			color:white;
			background: $green;
			display: block;
			text-align: center;
			font-family: $TabletGothicCondensed;
			font-size: 1.06rem;
			font-weight: 300;
			letter-spacing: 0.16rem;
			text-transform: uppercase;
			width:260px;
			float:left;
			@include ribbon($green, 2.667em, white, left-right);
		}
		.green-fancy-btn:hover{
			background: lighten($green,10%);
			@include ribbon(lighten($green,10%), 2.667em, white, left-right);
		}
	}
}

.pick-of-the-week{
	@include center(1191px);
	padding:50px 0px 0px;
	clear:both;
	text-align: center;
	
		
	span{
		font-family: $KeplerStd;
		font-size: 1.125rem;
		font-weight: 200;
		font-style: italic;
		line-height: 2;
		text-align: center;
    }

    h3{
		font-family: $TabletGothicCondensed;
		font-size: 1.875rem; 
		font-weight: 700;
		line-height: 0.5; 
		text-transform: uppercase;
		text-align: center;
		padding-top: 0px;
		margin-top: 0px;
		margin-bottom: 30px;
    }
	
	
	.slick-prev{
		background: url(../images/prev.png) no-repeat top left;
		position:absolute;
		top:50%;
		left:0px;
		width:11px;
		height:19px;
		margin-top:-6px;
		text-indent: -9999px;
	}
	
	.slick-next{
		background: url(../images/next.png) no-repeat top left;
		position:absolute;
		top:50%;
		right:0px;
		width:11px;
		height:19px;
		margin-top:-6px;
		text-indent: -9999px;
	}
	
	ul{
		list-style: none;
		border-top:1px solid #ccc;
		padding:20px 30px;
		li{
			@include col(25%,0px);
			border-bottom: 1px dotted #ccc;
			border-right: 1px dotted #ccc;
			height: 341px;
			overflow: hidden;
			margin-bottom:20px;
			
			.brand-name{
				a{
					font-family: $TabletGothicCondensed;
					color:  #050101;
					font-size: 1.125rem; 
					font-weight: 700;
				}
			}
			
			.product-name{
				a{
					font-family: $ProximaNova;
					color:  #050101;
					font-size: 0.875rem;
					font-weight: 400;
				}	
			}
		}
		li:nth-child(4n+4){
			border-right:  1px dotted #ccc;
		}
		
		
	}
	
	ul:after{
		clear:both;
		content: "";
		display: block;
	}
}

.promo-categories:after{
	clear:both;
	display: block;
	content: ""; 
}

.promo-categories{
	@include center(1900px);
	margin-bottom:50px;
	clear:both;
	img{
		
		max-width: 100%;
		width: 100%;
		vertical-align: top;
		font-size: 0 ;
		float:left;
	}
	
	
	img:hover{
		opacity: 0.8;
		
	}
		
	div{
		float:left;
		line-height: 0;
		margin-bottom: 10px;
		padding:0px 0px;
	}
	.promo-column-one{
		@include col(100%,0px);
		
		@include respond-to(tablet){
		  @include col(50%,0px);
		}
		@include respond-to(desktop){
		  @include col(33.3%,0px);
		}
	}
	
	.promo-column-two{
		@include col(100%,0px);
		
		@include respond-to(tablet){
		  @include col(50%,0px);
		}
		@include respond-to(desktop){
		  @include col(33.3%,0px);
		}
	}
	
	.promo-column-three{
		@include col(100%,0px);
		div{
			width:100%;
			@include respond-to(tablet){
			  @include col(50%,0px);
			  padding:0px 0px;
			}
			
			@include respond-to(desktop){
			  @include col(100%,0px);
			  padding:0px 0px;
			}
		}
		@include respond-to(desktop){
		  	@include col(33.3%,0px);
		}
	}
}

.featured-slider{
	.item{
		padding:0px 15px 15px;
		.brand-name{
			margin:	10px 0px 0px;
				font-family: $TabletGothicCondensed;
				color:  #050101;
				font-size: 1.125rem; 
				font-weight: 700;
				text-transform: uppercase;
		}
		
		.product-name{
			margin:0px;
			line-height: 0rem;
			a{
				font-family: $ProximaNova;
				color:  #050101;
				font-size: 0.875rem;
				font-weight: 400;
				line-height: 1;
				text-transform: none;
				
			}	
		}
	}
}