.catalog-category-view{
	
	
	.breadcrumbs{
		padding:20px 10px;
	}
}

.category-title{
	text-align: center;
	
	h1{
		font-family: $TabletGothicCondensed;
		font-size: 1.875rem;
		font-weight: 700;
		line-height: 1.2;
		margin-bottom: 20px;
	}
}

.category-description{
	text-align: center;
	font-family: $ProximaNova;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.714;
	width:80%;
	max-width: 549px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.products-grid:after{
	clear:both;
	display: block;
	content:"";
}



.products-grid{

	ol{
		list-style: none;
		padding: 0px;
		margin: 0px;
	}
	.item:hover{
		border:1px dotted black;
		box-shadow: 1px 2px 0px 1px #ccc;
		z-index:100;
	}
	.item{
		@include col(100%,0px);
		padding: 0px 10px;
		@include respond-to(tablet){
		  @include col(33.3%,0px);
		  border-right: 1px dotted #ccc;
		}
		text-align: center;
		border-bottom: 1px dotted #ccc;
		
		height: 341px;
		overflow: hidden;
		padding:15px 25px;
		
		.brand-name{
			margin:	10px 0px 0px;
				font-family: $TabletGothicCondensed;
				color:  #050101;
				font-size: 1.125rem; 
				font-weight: 700;
				text-transform: uppercase;
		}
		
		.product-name{
			margin:0px;
			line-height: 0rem;
			a{
				font-family: $ProximaNova;
				color:  #050101;
				font-size: 0.875rem;
				font-weight: 400;
				line-height: 1;
				
			}	
		}
		
		.price{
			font-family: $ProximaNova;
			color:  #050101;
			font-size: 0.875rem;
			font-weight: 400;
			line-height: 1.714; 
		}
		
		.price-to{
			margin-bottom: 0px;
		}
		.price-from{
			margin-bottom: 0px;
		}
		
		.old-price{
			width:50%;
			float:left;
			.price-label{
				display: none;
			}
			
			.price{
				text-decoration: line-through;
				color:$green;
			}
		}
		
		.special-price{
			width:50%;
			float:left;
			.price-label{
				display: none;
			}
		}
		
		.btn-cart{
			display: none;
		}
		
		.add-to-links{
			display: none;
		}
		
		.ratings{
			display: none;
		}
		
		.actions{
			display: none;
		}
		
		
	}
	
}

.block-layered-nav{
	.block-title{
		font-family: $KeplerStd;
		font-size: 1.5rem;
		font-weight: 500;
		font-style: italic;
		line-height: 1.25;
		border-bottom: 1px solid #ccc;
		border-top: 1px solid #ccc;
		padding:5px 0px;
		display: none;
		@include respond-to(tablet){
		  display: block;
		}
		
		strong{
			font-weight: 500;
		}
	}
	
	.mobile-toggle{
		background: $green;
		color:white;
		font-family: $ProximaNova;
		padding:10px;
		text-transform: uppercase;
		width:100%;
		margin-bottom: 10px;
		cursor: pointer;
		@include respond-to(tablet){
		  display: none;;
		}
	}
	
	.toggle-content{
		display: none;
		
		@include respond-to(tablet){
		  display: block;
		}
	}

	.block-subtitle--filter{
		display: none;
	}
	
	#narrow-by-list{
		dt{
			font-family: $TabletGothicCondensed;
			color:  #050101;
			font-size: 1.125rem; /* Approximation due to font substitution */
			font-weight: 600;
			line-height: 2.667;
			padding-left:0px;
			margin-left: 0px;
			text-transform: uppercase;
		}
		
		li{
			padding:0px;
		}
		
		.level0{
			a{
				font-family: $TabletGothicCondensed;
				color:  #050101;
				font-size: 1.125rem; 
				font-weight: 600;
				line-height: 1.667; 
				text-transform: uppercase;
				
			}
			
			ul{
				display:none;
				width:100%;
			}
		}
		
		.level1{
			
			a{
				font-family: $ProximaNova;
				font-size: 0.875rem;
				font-weight: 400;
				line-height: 1.714;
				text-transform: none;
			}
		}
		
		.active{
			a{
				color:$green
			}
		}

		
		
	}
}
.toolbar:after{
	clear: both;
	content:"";
	display: block;
}
.toolbar{
	
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding:7px 0px;
	margin-bottom:30px;
	
	font-family: $ProximaNova;
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 2;
	text-transform: uppercase;
	
	label{
		font-family: $ProximaNova;
		font-size: 0.75rem;
		font-weight: 400;
		line-height: 2;
		text-transform: uppercase;
	}
	.sorter{
		@include col(50%,0px);
		
		.sort-by{
			@include col(168px,0px);
			
			label{
				float: left;
				
			}
			select{
				float: left;
				width:108px;
				margin:0px 10px;
				text-transform: uppercase;
				font-size: 0.75rem;
				font-weight: 400;
				line-height: 2;
			}
			
			.sort-by-switcher{
				display: none;
			}
		}
		.view-mode{
			display: none;
			@include respond-to(tablet){
			  display: block;
			}
			@include col(183px,0px);
			margin-bottom: 0px;
			
			strong{
				background-color: $green;
			}
			
			a{
				background-color: black;
			}
			a:hover{
				background-color: $green;
			}
		}

	}
	
	.pager:after{
		clear:both;
		content:"";
		display: block;
	}
	
	.pager{
		@include col(50%,0px);
		text-align: right;
		
		.amount--no-pages,.amount--has-pages{
			display: none;
		}
		.limiter{
			float:right; 
			margin-left: 20px;
			display: none;
			@include respond-to(tablet){
			  display: block;
			}
			select{
				width:48px;
				margin:0px 10px;
			}
		}
		
		
		
		.pages{
			text-align: right;
			float:right;
			strong{
				display: none;
			}
			ol{
				list-style: none;
				margin: 0px;
				padding:0px;
				li{
					display: inline;
					
					a{
						display: inline-block;
						width:20px;
						height:20px;
						color:$green ;
						text-align: center;
						font-size: 0.75rem;
					}
					.i-next{
						display: inline-block;
						width:20px;
						height:20px;
						color:white;
						background: $green;
						text-align: center;
						color:white;
						padding-top: 2px;
					}
					.i-previous{
						display: inline-block;
						width:20px;
						height:20px;
						color:white;
						background: $green;
						text-align: center;
						color:white;
						padding-top: 2px;
					}
				}
				
				.current{
					display: inline-block;
					width:20px;
					height:20px;
					color:white;
					background: $green;
					text-align: center;
					font-size: 0.75rem;
					line-height: 2;
				}
			}
		}
	}
}

.toolbar-bottom{
	.sorter{
		display: none;
	}
	
	.pager{
		float:right;
	}
}

#narrow-by-list{
	ol{
		list-style: none;
		margin:0px;
		padding:0px;
		
		li{
			a{
				font-family: $ProximaNova;
				color:  #050101;
				font-size: 0.875rem; /* Approximation due to font substitution */
				font-weight: 400;
				line-height: 1.714;

			}
		}
	}
}

.amshopby-price-find{
	background: $green;
	margin-top:25px;
	height:38px;
	padding:0px;
	font-family: $TabletGothicCondensed;
	color:  #ffffff;
	font-size: 0.875rem; 
	font-weight: 600;
	line-height: 1.714;
	@include ribbon($green,31px,white,right);
}

.input-wrap{
	width: 60px;
	float:left;
	margin-right:10px;
	label{
		width:100%;
		font-family: $ProximaNova;
		color:  #050101;
		font-size: 0.875rem;
		font-weight: 400;
		line-height: 1.714;

	}
	
	input{
		border:1px solid #ccc;
		padding:0px 5px;
	}
}


#amshopby-price-to{
	width: 60px;
	height: 30px;
	
}

#amshopby-price-from{
	width: 60px;
	height: 30px;
}

div.block-layered-nav.amshopby-collapse-enabled dt{
	background: none;
}

.products-grid--max-4-col {
	.item{
		@include respond-to(tablet){
		  @include col(25%,0px 0px);
		}
	}
	.item:nth-child(4n+4){
		border-right:none;
	}
}

.products-grid--max-3-col {
	.item{
		@include respond-to(tablet){
		  @include col(33.3%,0px 0px);
		}
	}
	.item:nth-child(3n+3){
		border-right:none;
	}
}

.products-grid--max-2-col {
	.item{
		@include respond-to(tablet){
		  @include col(50%,0px 0px);
		}
	}
	.item:nth-child(2n+2){
		border-right:none;
	}
	
}