.breadcrumbs{
	@include center(1191px);
	padding:15px 0px;
	font-family: $ProximaNova;
	font-size: 0.75rem; /* Approximation due to font substitution */
	font-weight: 400;
	line-height: 2;
	background: none;
	border: none;
	
	@include respond-to(mobile){
	  padding:15px 0px;
	}
	
	@include respond-to(desktop){
	  padding:15px 0px;
	}
	a{
		color: $green;
	}
	
	strong{
	 font-weight: normal;
	}
	
	ul{
		list-style: none;
		li{
			display: inline-block;
			
			span{
				display: inline-block; 
				padding:0px 5px;
			}
		}
	}
}


.sidr{
	display:none;
	position:absolute;
	position:fixed;
	top:0;
	height:100%;
	z-index:999999;
	width:260px;
	overflow-x:none;
	overflow-y:auto;
	font-family: $ProximaNova;
	font-size:15px;
	background:black;
	color:#fff;
}






#sidr-main{
	
	ol{
		list-style: none;
		margin: 0px;
		padding: 0px;
	    width: 100%;
	    display: block;
	    
		li:after{
			clear:both;
			content:"";
			display: block;
		}
		li{
			display: block;
			width: 100%;
	        text-align: left;
	        padding:4px  10px;
	        height: auto;
	        border-bottom: 1px solid #ccc;
			a{
				padding-right: 26px;
				display: block;
				font-family: $TabletGothicCondensed;
				color:  #ffffff;
				font-size: 1.21rem; 
				font-weight: 400;
				line-height: 2.286;
				text-transform: uppercase;
				background: url(../images/mobile-menu-arrow.png) no-repeat right center ;
			}
			
			
			
			ul{
				display: none;
				width: 239px;
				position: relative;
				text-align: left;
				padding: 0px;
				margin-left: 0px;
				li{
					display: block;
					float:none;
					border-bottom: none
					a{
						font-family: $ProximaNova;
						font-size: 0.813rem;
						font-weight: 400;
						line-height: 2.769; 
						display: inline;
						text-transform: none;
						background: none;
					}
				}
				
			}
		}
	}
}