.catalog-product-view{
	
	.col-main{
		width:100%;
		padding-top:0px;
	}
	.product-view{
		
		
		.product-essential{
			
			.product-shop{
				width:100%;
				@include respond-to(tablet){
				  @include col(40%,0px 10px);
				}
				
				.add-to-cart-buttons{
					.button{
						background: $green;
						text-transform: uppercase;
					}
				}
			}
			
			.product-img-box{
				width:100%;
				
				@include respond-to(tablet){
				  @include col(40%,0px 10px);
				}
				
				.product-name{
					display: none;
				}
				.product-image-gallery{
				    overflow: hidden;
					img{
						display: none;
					}
					.visible{
						display: block;
					}
				}
			}
			
			.block-related{
				width:100%;
				@include respond-to(tablet){
				  @include col(20%,0px 10px);
				}
			}
		}
	}
}