.catalog-product-view{
	.breadcrumbs{
		padding:20px 15px;
	}
	.col-main{
		width:100%;
		padding-top:0px;
		float: none;
	}
	.product-view{
		@include center(1191px);
		
		.product-essential:after{
			clear:both;
			content: "";
			display: block;
		}
		
		.product-essential{
			margin-bottom: 40px;
			.product-shop{
				width:100%;
				@include respond-to(tablet){
				  @include col(50%,0px 20px 0px 20px);
				}
				@include respond-to(desktop){
				  @include col(40%,0px 20px 0px 20px);
				}
				
				.add-to-cart{
					float:left;
					width:100%;
					@include respond-to(tablet){
					  width: 224px;
					}
				}
				
				p.required{
					display: none;
				}
				
				.product-options{
					dl{
						width:50%;
						dt{
							
							label{
								font-family: $ProximaNova;
								font-size: 0.95rem; 	
								font-weight: 400;
								line-height: 1.5;
								text-transform: uppercase;
								display: inline;
								
								em{
									float: right;
								}
							}
						}
						
					}
					
					label.required{
						display: inline-block;
					}
					
					.last{
						width:100%;
					}
					
					textarea{
						width:100%;
					}
					
					select{
						border:1px solid #ccc;
				    	padding:5px;
				    	font-family: $ProximaNova;
				    	font-size: 0.75rem;
				    	text-transform: uppercase;
					}
					
					.bundle-option-select{
						background: none;
						width:80%;
						clear:both;
					}
					
					.bundle-option-select:after{
						display: none;
					}
				}
				
				.add-to-cart-buttons{
					.button{
						background: $green;
						text-transform: uppercase;
						width: 214px;
						height: 45px;
						font-family: $TabletGothicCondensed;
					    font-size: 1rem; 
					    letter-spacing: 0.1rem;
						font-weight: 700;
						line-height: 1.667; 
						padding: 0px;
						margin-bottom: 0px;
						
					}
				}
				
				.add-to-links{
					float:left;
					list-style: none;
					padding: 10px 0px;
					margin: 0px;
					padding-left: 0px;
					@include respond-to(tablet){
					  padding-top:60px;
					}
					li{
						a{
							font-family: $TabletGothicCondensed;
							color:  $green;
							font-size: 1rem;
							font-weight: 700;
							line-height: 1.5;
							text-transform: uppercase;
						}
					}
				}
				
				.brand-name{
					h2{
						font-family: $TabletGothicCondensed;
						font-size: 1.5rem;
    					font-weight: 700;
						line-height: 1.5;
						text-transform: uppercase;
						margin:0px;
					}
				}
				
				.product-name{
					h1{
						font-family: $ProximaNova;
						font-size: 1.375rem;
						font-weight: 400;
						line-height: 1.182;
						margin:0px;
						text-transform: none;
					}
				}
				
				.price-info{
					margin-bottom:25px;
					.price{
						font-family: $ProximaNova;
						font-size: 1.5rem; 
						font-weight: 400;
						line-height: 1.25;
						
					}
					
					
					.price-as-configured{
						.price-label{
							display: block;
						}
					}
					
					.price-from{
						margin-bottom: 0px;
						.label{
							width: 37px;
							display: inline-block;
						}
						
						.price{
							font-size: 1rem;
						}
					}
					
					.price-to{
						margin-bottom: 0px;
	
						.label{
							width: 37px;
							display: inline-block;
						}
						
						.price{
							font-size: 1rem;
						}
					}
				}

				
				.availability{
					font-family: $ProximaNova;
					font-size: 0.75rem; 	
					font-weight: 400;
					line-height: 1.5;
					text-transform: uppercase;
					padding-bottom: 0px;
					margin-bottom: 0px;
					
					.label{
						display:none;
					}
				}
				
				.yotpo-wrap{
					font-size: 12px;
					padding-bottom:20px;
					.yotpo-stars{
						margin-right: 10px;
					}
				}
				
				.product-options-bottom{
					padding-bottom:20px;
					border-bottom: 1px dotted black;
					.price-box{
						display:none;
					}
				}
				.product-options-bottom:after{
					clear: both;
					content: "";
					display: block;
				}
				.add-to-cart{
					
					.qty-wrapper{
					   	margin-bottom:20px;
					   	label{
						   	display: inline-block;
						   	text-transform: uppercase;
						   	font-family: $ProximaNova;
						   	font-size: 0.875rem; 
						   	font-weight: 400;
						   	line-height: 1.286;
					   	}
					   	select{
						   	width:60px;
						   	border:1px solid #ccc;
						   	padding:5px;
						   	
					   	}
					}
				}
				
				
				.toggle-tabs{
					display: none;
					li{
						
						
			
					}
				}
				
				.collateral-tabs{
					clear:both;
					.tab{
						clear:both;
						padding:0px;
						margin:0px;
						
						span{
							border-bottom:1px solid #ccc;
							padding:20px 0px;
							width: 100%;
							display: block;
							font-family: $TabletGothicCondensed;
							font-size: 1.125rem; /* Approximation due to font substitution */
							font-weight: 700;
							line-height: 1.667;
							text-transform: uppercase;
							background: url(../images/down-arrow.png) no-repeat center right 10px;
							
						}
						&:hover {
							cursor: pointer;
						}
					}	
					
									
					
					.tab-container{
						display: none;
						width:100%;
						border: none;
						
						.tab-content{
							padding:15px 0px;
							font-family: $ProximaNova;
							font-size: 0.875rem; /* Approximation due to font substitution */
							font-weight: 400;
							line-height: 1.714;
							
							h2{
								display: none;
							}
						}
					}
					
					.current{
						display: block;
						span{
							background: url(../images/up-arrow.png) no-repeat center right 10px;
						}
						
						.yotpo{
							span{
								background: none;
							}
						}
					}
					
				}
				
			}
			
			.product-img-box{
				width:100%;
				@include col(100%,0px);
				
				@include respond-to(tablet){
				  @include col(50%,0px 20px 0px 20px);
				}

				@include respond-to(desktop){
				  @include col(40%,0px 20px 0px 20px);
				}
				
				.product-name{
					display: none;
				}
				.product-image-gallery{
				    overflow: hidden;
					img{
						display: none;
					}
					.visible{
						display: block;
					}
				}
				
				.zoom-msg{
					font-family: $ProximaNova;
					color:  #000000;
					font-size: 0.75rem; /* Approximation due to font substitution */
					font-weight: 400;
					line-height: 2;
					display: none;
					@include respond-to(tablet){
					  display: block;
					}
				}
				
				.more-views:after{
					clear:both;
					content:"";
					display: block;
					
				}
				
				.more-views{
					margin:0px;
					padding:10px 0px;
					border-top:1px solid #ccc;
					border-bottom:1px solid #ccc;
					margin-bottom: 20px;
					li{
						list-style: none;
						float:left;
						padding:0px;
						margin: 0px;
					}
				}
				
				.share{
					text-align: center;
					@include respond-to(tablet){
					  text-align: left;
					}
					h4{
						font-family: $KeplerStd;
						font-size: 1.125rem;
						font-weight: 700;
						font-style: italic;
						line-height: 1.333;
						padding-right:20px;
						text-transform: none;
						@include respond-to(tablet){
						  display: inline-block;
						  font-size: 1.025rem;
						}
					}
					a{
						color:white;
						background: #333;
						display: inline-block;
						width:30px;
						height: 30px;
						font-size: 1.5rem;
						text-align: center;
						padding-top:3px;
						margin-bottom: 35px;
						line-height: 1
						
					}
					
					.facebook{
						background: #3b5998;
					}
					
					.twitter{
						background: #00aced;
					}
					
					.linkedin{
						background: #007bb6;
					}
					
					.instagram{
						background: #517fa4;
					}
				}
			}
			
			.block-related{
				width:100%;
				@include respond-to(tablet){
				  @include col(100%,0px 10px);
				}
				
				@include respond-to(desktop){
				  @include col(20%,0px 10px);
				}
				
				
				h2{
					font-family: $KeplerStd;
					color:  #050101;
					font-size: 1.5rem;
					font-weight: 700;
					font-style: italic;
					line-height: 1.9;
					border-top:1px solid #ccc;
					border-bottom:1px solid #ccc;
					text-align: center;
					text-transform: none;
				}
				
				
				.slick-prev{
					background: url(../images/prev.png) no-repeat top left;
					position:absolute;
					top:50%;
					left:2px;
					width:11px;
					height:19px;
					margin-top:-6px;
					text-indent: -9999px;
					
					@include respond-to(desktop){
					  top:0px;
					  left:50%;
					   -webkit-transform: rotate(90deg);
					 -moz-transform: rotate(90deg);
					 -ms-transform: rotate(90deg);
					 -o-transform: rotate(90deg);
					 transform: rotate(90deg);
					}
				}
				
				.slick-next{
					background: url(../images/next.png) no-repeat top left;
					position:absolute;
					top:50%;
					right:2px;
					width:11px;
					height:19px;
					margin-top:-6px;
					text-indent: -9999px;
					
					@include respond-to(desktop){
					  top:105%;
					  left:50%;
					 -webkit-transform: rotate(90deg);
					 -moz-transform: rotate(90deg);
					 -ms-transform: rotate(90deg);
					 -o-transform: rotate(90deg);
					 transform: rotate(90deg);
					}
				}
				
				.mini-products-list{
					margin: 0px;
					padding: 0px;
					list-style: none;
					
					.item{
					    text-align: center;
						padding:20px 10px;
						min-height: 240px;
						border-right: 1px dotted #ccc; 
						@include respond-to(desktop){
						  border-bottom: 1px dotted #ccc; 
						  border-right: none; 
						}
						.brand-name{
							margin:	10px 0px 0px;
								font-family: $TabletGothicCondensed;
								color:  #050101;
								font-size: 1.125rem; 
								font-weight: 700;
								text-transform: uppercase;
						}
						
						img{
							margin-bottom: 15px;
							text-align: center;
							display: inline-block;
						}
						
						.link-wishlist{
							display: none;
						}
						
						.product-name{
							margin:0px;
							line-height: 0rem;
							a{
								font-family: $ProximaNova;
								color:  #050101;
								font-size: 0.875rem;
								font-weight: 400;
								line-height: 1;
								
							}	
						}
						
						.price{
							font-family: $ProximaNova;
							color:  #050101;
							font-size: 0.875rem;
							font-weight: 400;
							line-height: 1.714; 
						}
					}
					
					.item:nth-child(2n+2){
						border-right: none; 
						@include respond-to(tablet){
						  border-right: 1px dotted #ccc; 
						}
					}
				}
			}
		}
	}
	
	
	.box-up-sell{
	   width:100%;
		clear:both;
		text-align: center;
		padding: 0px;
		margin-bottom: 60px;
		
		.slick-prev{
			background: url(../images/prev.png) no-repeat top left;
			position:absolute;
			top:50%;
			left:2px;
			width:11px;
			height:19px;
			margin-top:-6px;
			text-indent: -9999px;
		}
		
		.slick-next{
			background: url(../images/next.png) no-repeat top left;
			position:absolute;
			top:50%;
			right:2px;
			width:11px;
			height:19px;
			margin-top:-6px;
			text-indent: -9999px;
		}
		
		#upsell-product-table{
			padding: 0px 15px;
			margin: 0px;
		}
		.company-title{
			line-height: 0rem;
			margin: 0px;
			padding:10px 0px 5px;
			font-family: $KeplerStd;
			font-size: 1.125rem;
			font-weight: 700;
			font-style: italic;
		}
		
		.item{
			width:25%;
			
		}
		
		.item:nth-child(3n+3){
			border-right:1px dotted #ccc;
		}
		
		h2{
			font-family: $TabletGothicCondensed;
			font-size: 1.875rem; /* Approximation due to font substitution */
			font-weight: 700;
			line-height: 1.2;
			text-transform: uppercase;

			margin:0px 0px 10px;
		}
	}
	
	.box-up-sell{
			.products-grid{
				margin-bottom: 0px;
				max-height: 362px;
				 height:auto;
				@include respond-to(tablet){
				  height:auto;
				}
				.item{
				    padding:0px 15px;
				    height:auto;
				    text-align: center;
				    float:left;
					height:362px;
					@include respond-to(tablet){
					   height:297px;
					  
					}
					
					@include respond-to(desktop){
					  height:361px;					  
					}
		
				}
			}
		}
}