


.page{
	font-family: $ProximaNova;
    font-size: 0.88rem; 
    font-weight: 400;
    line-height: 2.571; 
}

h1{
	font-family: $TabletGothicCondensed;
	color:  #000000;
	font-size: 2.25rem; 
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	margin-bottom: 30px;
	margin-top: -26px;
	
	span{
		font-family: $KeplerStd;
		font-size: 1.125rem;
		font-weight: 600;
		font-style: italic;
		line-height: 0;
		text-align: center;
		text-transform: none;
		display: inline-block;
		
	}
}

h1, h2, h3, h4, h5, h6{
	font-family: $TabletGothicCondensed;
	text-transform: uppercase;
}


h2{
	font-size: 1.5rem; /* Approximation due to font substitution */
	font-weight: 700;
	line-height: 1; /* Approximation due to font substitution */
	margin-bottom: 30px;
}

p{
	font-family: $ProximaNova;
	font-size: 0.875rem; 
	font-weight: 400;
	line-height: 1.714;
}


