$black:#000000;


$rowWidth:1160px;

$break-small: rem-calc(640);
$break-medium: rem-calc(850);
$break-large: rem-calc(1120);
$break-extralarge: rem-calc(1900);

$ProximaNova: "proxima-nova-alt";
$TabletGothicCondensed: "tablet-gothic-condensed";
$KeplerStd: "kepler-std";


$green:#00747b;
