.category-title{
	text-align: center;
}

.category-description{
	text-align: center;
	font-family: $ProximaNova;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.714;
}
.products-grid{

	ol{
		list-style: none;
		padding: 0px;
		margin: 0px;
	}
	.item{
		@include col(33.3%,0px);
		text-align: center;
		border-bottom: 1px dotted #ccc;
		border-right: 1px dotted #ccc;
		height: 341px;
		overflow: hidden;
		
		.brand-name{
			a{
				font-family: $TabletGothicCondensed;
				color:  #050101;
				font-size: 1.125rem; 
				font-weight: 700;
			}
		}
		
		.product-name{
			a{
				font-family: $ProximaNova;
				color:  #050101;
				font-size: 0.875rem;
				font-weight: 400;
			}	
		}
		
		.btn-cart{
			display: none;
		}
		
		.add-to-links{
			display: none;
		}
		
		.ratings{
			display: none;
		}
		
		.actions{
			display: none;
		}
	}
	.item:nth-child(3n+3){
		border-right:none;
	}
}

.block-layered-nav{
	.block-title{
		font-family: $KeplerStd;
		font-size: 2em;
	}
	
	#narrow-by-list{
		dt{
			font-family: $KeplerStd;
		    font-size: 1.5em;
		    font-style: italic;
		    padding:5px 0px;
		    border-top:1px solid #ccc;
		    border-bottom:1px solid #ccc;
		}
	}
}

.toolbar{
	display: none;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}